/* -------------------------------------*/
/* ---------->>> MAIN CSS <<<-----------*/
/* -------------------------------------*/

/* ################## GLOBAL ##################### */

    .error {color: #FF0000;}

    body {
        background-image: url('Imagem/fundo01.jpg');
        background-size: cover;
    } /* login */

    h5 {
        color: midnightblue;
        font-size: 20px;
        font-family: "Arial", Times, serif;
        text-shadow: 0px 0px blue;
    } /* selecao-de-campeoes */


/* ############################################### */
/* ################## index.php ################## */
/* ############################################### */
    
    /* 
     * @css: Box Geral 
    */

    .box-input{
        width:30%;
        margin-top: 10%;
    }

        .box-input:hover{
            background-image: url(../Imagem/z21.gif);
            background-size: cover;
            height: 420px;
            border-radius: 15px;
            padding-top: 35px;
        }

    .btn-input-box{
        width: 45%;
        margin-left: 28%;
        background-color: black;
        color: white;
        border-radius: 0px;
        opacity: 0.5;
    }

        .btn-input-box {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          overflow: hidden;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: color, background-color;
          transition-property: color, background-color;
        }
        .btn-input-box:hover, .btn-input-box:focus, .btn-input-box:active {
            background-color: mediumspringgreen;
            color: black;
            opacity: 1.0;
        }

    /* 
     * @css: Group Buttons Forgot, Remember Password 
    */

    .box-buttons{
        margin-top: 25px;
        text-align: center;
    }

    .btn-forgot{
        background-color: #ff33ff;
        color: white;
        opacity: 0.5;
    }

        .btn-forgot {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          position: relative;
          background: ;
          -webkit-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
        }
        .btn-forgot:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #cc00cc;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 50%;
          transform-origin: 50%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        .btn-forgot:hover, .btn-forgot:focus, .btn-forgot:active {
            color: white;
            opacity: 1.0;
        }
        .btn-forgot:hover:before, .btn-forgot:focus:before, .btn-forgot:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

/* ############################################### */
/* ########## selecao-de-campeoes.php ############ */
/* ############################################### */
    
    .body-selecao{
        background-image: url('../Imagem/fundo01.jpg');
        background-size: cover;
        background-repeat: repeat;
            background-position:;
            font-family: 'Arial';
            text-align: center;
    }

    /* 
     * @css: Menu 
    */

        .row-menu{
            background-color: #353942;
            height: 65px;
        }

        #icon-menu{
            color: yellow;
            font-size: 35px;
            margin-left: 20px;
            margin-top: 8px;
        }
            #icon-menu:hover{
                color: white;
            }

        .button-geral{
            height: 65px;
            margin-left: 20px;
        }

        .button-acction{
            background-color: transparent;
            height: 65px;
            border-radius: 0px;
            color: white;
            font-size: 15px;
        }
            .button-acction {
              display: inline-block;
              vertical-align: middle;
              -webkit-transform: perspective(1px) translateZ(0);
              transform: perspective(1px) translateZ(0);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0);
              position: relative;
              background: ;
              -webkit-transition-property: color;
              transition-property: color;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
            }
            .button-acction:before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: #4f5563;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transform-origin: 50%;
              transform-origin: 50%;
              -webkit-transition-property: transform;
              transition-property: transform;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
            }
            .button-acction:hover, .button-acction:focus, .button-acction:active {
              color: white;
            }
            .button-acction:hover:before, .button-acction:focus:before, .button-acction:active:before {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
        .button-logout{
            background-color: transparent;
            height: 65px;
        }


    /* 
     * @css: Characters
    */
    
        .box-main-character{
            margin: auto;
        }

        #espaco-characters{
            margin-top:50px;
        }

        .box-item{
            width: 18rem; 
            border-radius:10px;
            margin: auto;
        }

        .card-guerreiro{
            background-color: #AB202D;
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 10px;
            height: 115px;
        }
        .card-wizzard{
                background-color: transparent;
                border: 1px solid;
                padding: 10px;
                box-shadow: 5px 10px;
                height: 115px;
            }
        .card-sacerdote{
                background-color:;
                border: 1px solid;
                padding: 10px;
                box-shadow: 5px 10px;
                height: 115px;
            }
        .card-monk{
                background-color: ;
                border: 1px solid;
                padding: 10px;
                box-shadow: 5px 10px;
                height: 115px;
        }

        #icon-wizzard{
            color:greenyellow;
        }
            #icon-wizzard:hover{
                font-size: 20px;
                transform: rotate(20deg);
            }

        #icon-sacer{
            color: skyblue;
            font-size: 33px;
            transform: rotate(20deg);
        }

        #icon-monk{
            color:#ff66ff;
        }

/* ############ RPG_swordman.php ################# */

    /*
    * @css dessa página é: rpg-swordman.css
    */

/* ############################################### */
/* ########### cidade-aldebaran.php ############## */
/* ############################################### */
    
        .body-aldebaran{
            background-image: url('../Imagem/backg21.jpg');
            background-size: cover;
        }

    /* 
     * @css: Menu
    */

        .menu-all{
            background-color: black;
            border-radius: 10px;
            margin-top: 30px;
            margin-left: 30PX;
            position: fixed;
        }
    
    /* 
     * @css: NPC's Section
    */

        #row-npc{
            margin: auto;
            background-color: ;
            margin-top: 60px;
            margin-left: 100px;
        }

        #col-options{
        }

        .row-event{
            background-color:#222222;
            margin-top: 100px;
            height: 250px;
        }