/* -------------------------------------*/
/* ---------->>> MAIN CSS <<<-----------*/
/* -------------------------------------*/

/* ################## GLOBAL ##################### */

    .error {color: #FF0000;}

    body {
        background-image: url('Imagem/fundo01.jpg');
        background-size: cover;
        background-color: ;
        background-repeat: no-repeat;
        background-position:;
    } /* login */

    h5 {
        color: midnightblue;
        font-size: 20px;
        font-family: "Arial", Times, serif;
        text-shadow: 0px 0px blue;
    } /* selecao-de-campeoes */

/* ################## index.php ################## */

    .margin-top-form {
        text-align: center;
        padding-top: 100px;
    }
    .form-a {
        background-color: red;
    }
    .container-geral {
        width: 580px;
        margin-left: 20%;
        margin-top: 50px;
        text-align: center;
    }

/* ########## selecao-de-campeoes.php ############ */

    #row-menu {
        background-color: #262626;
        height: 40px;
    }
    #row-geral {
        margin-left: 10px;
    }
    #row-geral2 {
        margin-left: 10px;
        margin-top: 35px;
    }
    #col-menu-button-selecao {
         margin-top: 5px;
         color: yellow; 
         font-size:12px;
     }
    .card-background {
        background-color: white;  
        opacity: 0.9;
     }

/* ############ RPG_swordman.php ################# */

    /*
    * @css dessa página é: rpg-swordman.css
    */

/* ########### cidade-aldebaran.php ############## */

    #menu-background {
        background: #262626;
        height: 42PX; /* largura do menu */
     }

     #col-menu-button {
         color:#e6e600;
         margin-top: 10px;
     }

     #input-menu {
         border-radius: 4px;
         border-color: darkgray;
         border-width: 0.2px;
         width: 160px;
         height: 25px;
     }
         #input-menu:hover{
            border-color: red;
         }

    .col01-apresentacao-aldebaran {
        margin-top: 80px; 
        margin-left: 0px;
    }
    .texto-apresentacao-aldebaran-center{
        background-color: white;
        opacity: 0.8;
        color: whitesmoke;
        text-shadow: 1px 0px 0px black, 
                 -1px 0px 0px black, 
                 0px 1px 0px black, 
                 0px -1px 0px black;
        margin-top: 20%;
        font-size: 50px;
        border-radius: 10px;
        text-indent: 150px;
    }